/* Remove margens padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;              /*-> faz a imagem e o titulo ficar lado a lado*/ 
    align-items: center;        /*-> ficam centralizadas*/ 
    justify-content: center;    /*-> centraliza horizontalmente*/
    gap: 15px;                  /*-> cria um espeço entre elas*/
    
} 


.sub-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Grimm {
    width: 20%;
    height: 20%;
    object-fit: cover
}

.texto {
    display: flex;
    flex-direction: column;
}

.texto h1 {
    margin: 0;
}

.subtitulo {
    margin-top: 10px;
    /* aumenta a distância para baixo */
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;  /*? essa valor significa que o conteudo ocupara td a altura da tela */
    min-height: 100dvh;  /*? entao se a tela tem 1920 x 1080, o conteudo ocupara a altura de 1080 */
                        /*? min-height faz com que a altura mínima será a altura da tela, mas pode crescer se houver mais conteúdo. */
                        /*? eu nao usava ele, por isso minha tela ficava com aquela parte branca na parte inferior, eu nao tinha conteudo suficiente para preencher a tela td */
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

    background:
        linear-gradient(rgba(17, 24, 39, 0.8), rgba(17, 24, 39, 0.8)), /*TODO ele cria um degrade, mas como eu coloquei duas cores iguais, ele cria uma camada uniforme encima do background */
        url("img/Background.webp");                                          /*TODO é tipo background-color: rgba(17, 24, 39, 0.7); mas nesse caso, ele ficaria atraz da imagem*/

    background-size: cover;             /*! -> faz a imagem cobrir a tela td */
    background-position: center;        /*! -> posiciona a imagem no meio */
    background-repeat: no-repeat;       /*! -> faz a imagem não se repitir, isso acontece por padrão*/
    background-attachment: fixed;       /*! -> deixa a imagem fixa / estatica*/
}

/* Bloco central */
.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
}

.knight {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    color: #cbd5e1;
}

/* Cards */
.card {
    background-color: #1f2937;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p,
.card li {
    line-height: 1.6;
}

.card ul {
    padding-left: 20px;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid rgb(37, 7, 22);
    object-fit: cover
}

/* Rodapé */
.autor {
    margin-top: 30px;
    color: #94a3b8;
    font-weight: 500;
    transition: 0.3s;
}

.autor:hover {
    color: #e1306c;
    scale: 1.1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.instagram {
    text-decoration: none;
    /* ? remove qualquer efeito sobre o texto, nesse caso o efeito que ele tinha por ser um link */
    color: #94a3b8;
    font-weight: 500;
    /* ? dependendo do valor deixa o texto em negrito */
    transition: 0.3s;
    /* ? cria uma animação para as carcteristicas definidas, entao nesse caso demora 0.3s para o texto mudar de cor */
}

.instagram:hover {
    color: #e1306c;
    scale: 1.1;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boss {                                 /*isso configura o span, no caso os chefes do hollow knight -> o hover ali embaixo configura a interação com o mouse*/
    position: relative;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.boss:hover {
    color: #e1306c;
}

.boss img {
    position: absolute;                     /*! -> faz a imagem sair do fluxo normal da pagina, ela meio que flutua sobre a pagina, dai quando ela aparecer ela noa empurra o texto*/
    width: 300px;                           
    bottom: 30px;                           /*! -> faz ela ficar 30 px em cima do elemnto pia, ou seja, o nome do boss*/
    left: 50%;                              /*! -> */
    transform: translateX(-50%);            /*! -> deixa a imagem perfeitamnete centralizada*/
    opacity: 0;                             /*! -> deixa a imagem invisivel*/
    transition: 0.3s;                       
    pointer-events: none;                   /*! -> nao deixa a imagem interagir com o mouse*/
    border: 3px solid #e1306c ;
}

.boss:hover img {                           /*! -> basicamente fala oq vai acontecer quando o mouse passar encima*/
    opacity: 1;
}

/* boss img é configuraçao de tds as imagens que estao dentros dos spans, como cada span tem uma imagen diferente nao é necessario um class para cada imagem*/

.mapa {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #e1306c;
}